@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

html {
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

ul {
  margin: 0;
  padding: 0;
}

.header_container {
  width: 100vw;
  background: #fff;
  margin-bottom: 20px;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.left__header {
  width: 55%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.brand__name {
  font-size: 18px;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 60px;
}

.brand__name,
.humburger {
  color: #0d6efd;
}

form {
  width: 60%;
}

form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 80%;
  background: #f5f3f3;
}

.right__header {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon_one,
.icon_two {
  font-size: 22px;
  color: #0d6efd;
}

.icon_three {
  font-size: 22px;
}

.icon_four {
  font-size: 15px;
  position: relative;
  top: -5px;
  left: 4px;
}

.icon_five {
  position: relative;
  top: 1px;
}

.main__content {
  width: 100vw;
  background: #f9f9f9;
  display: flex;
  align-items: flex-start;
  padding-bottom: 20px;
}

.sidebar__container {
  width: 15%;
  padding: 20px 0;
}

.content__container {
  width: 82%;
}

/* navlink */
.navlinks {
  list-style-type: none;
  padding-left: 20px;
}

.navlink {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 0;
}

.link {
  text-decoration: none;
  color: rgb(32, 32, 32);
}

.link:hover {
  background: #011026;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.nav_name {
  margin-left: 7px;
}

/* heading section */
.patient {
  width: 100%;
  display: flex;
}

.left__section {
  width: 40%;
  margin-left: 5px;
  margin-right: 5px;
}

.heading__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  width: 30%;
}

.heading__filters {
  width: 70%;
}

.head__pill {
  font-size: 11px;
  background: #fff;
  border: 1px solid #eee;
  padding: 6px;
}

.filters_container {
  display: flex;
  justify-content: space-between;
}

.in__range {
  color: green;
  font-size: 8px;
}

.out__range {
  color: red;
  font-size: 8px;
}

.filter_icon {
  color: #000;
  font-size: 9px;
}

.right__section {
  width: 55%;
  margin-left: 15px;
  background: #fff;
  padding: 15px;
  height: auto;
}

/* task section */
.task {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px;
  box-shadow: -1px -2px 2px -3px rgb(0 0 0 / 42%);
  -webkit-box-shadow: -1px -2px 2px -3px rgb(0 0 0 / 42%);
  -moz-box-shadow: -1px -2px 2px -3px rgb(0 0 0 / 42%);
  border-radius: 5px;
}

.task:hover {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px;
  box-shadow: -3px 1px 7px 4px rgb(0 0 0 / 42%);
  -webkit-box-shadow: -3px 1px 7px 4px rgb(0 0 0 / 42%);
  -moz-box-shadow: -3px 1px 7px 4px rgb(0 0 0 / 42%);
  border-radius: 5px;
}

.task__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_image {
  font-size: 12px;
  margin-right: 10px;
}

.assigned_date,
.start__date {
  font-size: 11px;
  color: rgb(180, 180, 180);
}

.user__name {
  font-size: 14px;
  font-weight: 600;
  color: #0d6efd;
  margin-top: -7px;
  margin-bottom: -7px;
}

.task__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vital__status {
  font-size: 12px;
  color: rgb(180, 180, 180);
}

.task__icons > span {
  margin-right: 10px;
  font-size: 17px;
}

.status_icon {
  color: red;
  font-size: 10px;
  position: relative;
  top: -10px;
}

.online_user_icon {
  font-size: 30px;
}

.yesterday {
  font-size: 16px;
  color: #c1c0c0;
}

/* profile */
.profile__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.user__image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__icon {
  margin-right: 10px;
  font-size: 30px;
}

.time__spent {
  font-size: 11px;
}

.see_logs {
  text-decoration: none;
  font-weight: 600;
}

.username_title {
  font-weight: 600;
  color: #0d6efd;
  font-size: 14px;
  margin-top: -7px;
  margin-bottom: -7px;
}

.years {
  font-size: 11px;
  color: #0d6efd;
}

.icons > span {
  margin-right: 5px;
  font-size: 12px;
  border: 1px solid #eee;
  padding: 5px;
}

.chat_icon,
.comera_icon {
  border-radius: 50%;
}

.vital_logs,
.assign_text {
  border-radius: 3px;
}

.user_data_icon {
  position: relative;
  top: 2px;
}

.blood_color {
  color: red;
}

.green_color {
  color: green;
}

.user_date {
  text-align: right;
  margin-right: 5px;
}

.user__data_stat {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.blood__pressure,
.heart__beat,
.weight,
.blood__glucose {
  width: 23%;
  height: 100%;
}

.blood__pressure,
.heart__beat,
.weight {
  border-right: 1px solid #eee;
}

.blood_pressure_text {
  font-size: 12px;
}

.date_assigned,
.time_past,
.current__time {
  font-size: 11px;
}

.date_assigned,
.time_past {
  margin-top: -7px;
  margin-bottom: -7px;
}

.numeric_data {
  font-size: 20px;
  font-weight: 600;
}

.waiting {
  font-size: 15px;
  margin-top: 22px;
  margin-bottom: 7px;
}

.align_icon {
  position: relative;
  top: 2px;
}

/* charts */
.blood__pressure_component {
  margin-top: 10px;
  margin-bottom: 10px;
}

.blood_pressure_chart {
  border-top: 1px solid #eee;
}

.chart__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #a4a4e5;
}

.chart__logs > a {
  font-size: 12px;
  text-decoration: none;
}

@media screen and (max-width: 794px) {
  .right__header {
    width: 50%;
  }
}

@media screen and (max-width: 967px) {
  .header_container {
    width: 100%;
  }

  form {
    display: none;
  }

  .main__content {
    width: 94%;
  }

  .sidebar__container {
    display: none;
  }

  .content__container {
    width: 100%;
    padding-left: 15px;
  }

  .patient {
    display: block;
    margin: 0 5px;
  }

  .left__section {
    width: 100%;
    margin: 0;
  }

  .filters_container {
    justify-content: end;
  }

  .head__pill {
    margin-left: 7px;
  }

  .right__section {
    width: 97%;
    margin: 0;
    padding: 10px;
  }
}
